body {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
    font-family: "roboto";
}

.floating-tile {
    border: 1px solid #999;
    box-shadow: 1px 1px 5px -1px rgb(0 0 0 / 50%);
}